# RStudio project files
.Rproj.user/

# R history and data files
.Rhistory
.RData

# R user data
.Ruserdata

# Temporary files created by R or other tools
*.Rproj
*.Rhistory
*.RData
*.Ruserdata

# Temporary files
*.tmp
*.log
*.bak
*.swp

# R packages
.Renviron
.Rprofile

# Cache files
.Rapp.history
.Rapp.cache/

# Exclude specific files or directories related to user-specific data or sensitive information
*.xlsx
*.zip

# OS-specific files
.DS_Store
Thumbs.db

references/
results/experiments/results/

# Cursor IDE files
.cursorrules

# LaTeX/TeX files
tex/
